<mat-toolbar class="navBar">
  <div class="flexNav">
    <a routerLink="/" routerLinkActive="active" class="navLink">
      <img src="../assets/logo.png" class="navLogo">
    </a>
    <a routerLink="/" routerLinkActive="active" class="navLink" id="home">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="navLink">About</a>
  </div>
  <div class="flexNav" [hidden]="loggedin">
    <a routerLink="/signup" routerLinkActive="active" class="navLink">Sign Up</a>
    <a routerLink="/login" routerLinkActive="active" class="navLink">Log In</a>
  </div>
  <div class="flexNav" [hidden]="!loggedin">
    <a routerLink="/locations" routerLinkActive="active" class="navLink">
      Locations
      <!-- <i class="material-icons">store_mall_directory</i> -->
    </a>
    <a routerLink="/" routerLinkActive="active" (click)="onLogout()" class="navLink">Log Out</a>
  </div>
</mat-toolbar>
