<div class="pageLayout">
  <button mat-raised-button color="accent" (click)="addItem()">
    Add Inventory Item
    <i class="material-icons">add_circle_outline</i>
  </button>
  <mat-table id="table" class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID No.</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="item">
      <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.item }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="par">
      <mat-header-cell *matHeaderCellDef>Par</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.par }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayed"></mat-row>
  </mat-table>
  <p>
    This works.
  </p>
</div>