<div class="pageLayout">
  <button mat-raised-button color="accent" (click)="addItem()">
    Add Inventory Item
    <i class="material-icons">add_circle_outline</i>
  </button>
  <div class="mat-elevation-z8">
    <table mat-table>
      <ng-container matColumnDef="position">
        <th mat-header-cell> No. </th>
        <td mat-cell>Hello</td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell> Item </th>
        <td mat-cell>Hello</td>
      </ng-container>
    </table>
  </div>

  <p>
    This works.
  </p>
</div>