<div class="pageLayout">
  <button mat-raised-button color="accent" (click)="addItem()">
    Add Inventory Item
    <i class="material-icons">add_circle_outline</i>
  </button>
  <mat-table id="table" class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID No.</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="item">
      <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.item }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="par">
      <mat-header-cell *matHeaderCellDef>Par</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.par }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="surplus">
      <mat-header-cell *matHeaderCellDef>Surplus</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.surplus < 0; else elseBlock" class="shortage">{{ row.surplus }}</div>
        <ng-template #elseBlock>
          <div class="excess">{{ row.surplus }}</div>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="manage">
      <mat-header-cell *matHeaderCellDef>Manage</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <i class="material-icons edit" (click)="setItem(row)" >settings_applications</i>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <i class="material-icons delete" (click)="removeItem(row.id)">delete_forever</i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayed"></mat-row>
  </mat-table>
</div>