<div class="formContainer">
    <h2>Location Form</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Location Name:</label>
            <input [(ngModel)]="model.name" 
                name="name" 
                type="text" 
                class="form-control" 
                id="name" required>
            <div>Name is {{ model.name }}</div>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input [(ngModel)]="model.address"
                name="address"
                type="text" 
                class="form-control" 
                id="address" required>
            <div>Address is {{ model.address }}</div>
        </div>
        <div class="form-group">
            <label for="city">Location city:</label>
            <input [(ngModel)]="model.city" 
                name="city"
                type="text" 
                class="form-control" 
                id="city" required>
            <div>city is {{ model.city }}</div>
        </div>
        <div class="form-group">
            <label for="name">Quantity:</label>
            <input [(ngModel)]="model.quantity"
                name="quantity"
                type="text" 
                class="form-control" 
                id="quantity" required>
        </div>

        <app-gradient-button>Submit</app-gradient-button>
    </form>
</div>