<fusioncharts
  *ngIf="!loading"
  height="350"
  width="100%"
  type="msline"
  dataFormat="json"
  [dataSource]="chartData">
</fusioncharts>

<mat-card class="contentCard">
  <mat-card-title>{{ item.store }}</mat-card-title>
  <mat-card-subtitle>{{ item.address }}, {{item.city}}, {{item.state}}</mat-card-subtitle>
  <mat-card-title>{{ item.item }}</mat-card-title>
  <mat-card-subtitle>Quantity on hand: {{ item.quantity }}</mat-card-subtitle>
  <mat-card-subtitle>Par Quantity: {{ item.par }}</mat-card-subtitle>
  <mat-card-subtitle>Current Surplus: {{ item.surplus }}</mat-card-subtitle>
  <mat-card-content>Description: {{ item.description }}</mat-card-content>
</mat-card>

<mat-card class="contentCard">
  <mat-card-title>Transactions</mat-card-title>
  <mat-card-subtitle>
    <button mat-raised-button color="accent" (click)="newTransaction()">
      Transaction
      <i class="material-icons">add_circle_outline</i>
    </button>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-table id="table" class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.date | date:"MM/dd/yyyy 'at' h:mma" : "EST" }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.note }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="prev_quantity">
        <mat-header-cell *matHeaderCellDef>Previous Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.prev_quantity }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="inven_change">
        <mat-header-cell *matHeaderCellDef>Change</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="gain" *ngIf="row.inven_change > 0">{{ row.inven_change }}</div>
          <div class="loss" *ngIf="row.inven_change < 0">{{ row.inven_change }}</div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayed"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayed"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-subtitle *ngIf="item.transactions.length === 0">You currently have no transactions for this item.</mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>Notes</mat-card-title>
  <mat-card-subtitle>
    <button mat-raised-button color="accent" (click)="newNote()">
      Note
      <i class="material-icons">add_circle_outline</i>
    </button>
  </mat-card-subtitle>
  <mat-card-content>
    <ol>
      <li *ngFor="let note of item.notes">{{ note.note }}
        <div class="timeZone">{{note.date | date:"MM/dd/yyyy 'at' h:mma" : "EST"  }}</div>
      </li>
    </ol>
  </mat-card-content>
  <mat-card-subtitle *ngIf="item.notes.length === 0">You currently have no notes for this item.</mat-card-subtitle>
</mat-card>
