.logo {
    height: 7em;
    margin: 1em;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 3em;
}

.tagline {
    font-size: .6em;
    font-family: 'Staatliches', cursive;
    color: rgb(97, 96, 96);
}

.nameTag h1 {
    margin: 0;
    padding: 0;
    line-height: .8em;
}

.nameTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .logo {
        height: 10em;
        margin: 1em;
    }

    h1 {
        font-size: 6em;
    }

    .tagline {
        font-size: 1.2em;
    }
}

