<div class="pageLayout">
  <div class="formContainer">
    <mat-form-field class="formInput">
      <mat-label>Location Name</mat-label>
      <input matInput [(ngModel)]="model.name" placeholder="Location Name">
    </mat-form-field>
    <mat-form-field class="formInput">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="model.address" placeholder="Location Address">
    </mat-form-field>
    <mat-form-field class="formInput">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="model.city" placeholder="Location City">
    </mat-form-field> 
    <mat-form-field class="formInput">
        <mat-label>State</mat-label>
        <mat-select placeholder="State" [(ngModel)]="model.state">
          <mat-option *ngFor="let state of states" value="{{ state }}">{{ state }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
      {{ model.state }}
    </div>   
    <button mat-raised-button color="primary" class="btn" (click)="onSubmit()">Add Location 
        <i class="material-icons">add_circle_outline</i>
    </button>
  </div>
</div>