<div class="pageLayout">
    <div class="formContainer">
        <mat-form-field class="formInput">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="model.email" placeholder="Verification">
        </mat-form-field>   
        <mat-form-field class="formInput">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="model.password" placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="btn" (click)="onSubmit()">Log In
            <i class="material-icons">send</i>
        </button>
    </div>
</div>

