:host {
    width: 7em;
    height: 2em;
    position: relative;
    text-align: center;
    appearance: none;
    background: whitesmoke;
    border: 2px solid black;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content {
    position: relative;
    pointer-events: none;
}

.gradient {
    position: absolute;
    background: radial-gradient(circle closest-side, red, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}