<div class="formContainer">
  <form #f="ngForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="model.name" 
            name="name" 
            type="text" 
            class="form-control" 
            id="name" required #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Invalid Input
        </div>
    </div>
    <div class="form-group">
        <label for="org">Organization:</label>
        <input [(ngModel)]="model.org" 
            name="org" 
            type="text" 
            class="form-control" 
            id="org" required #org="ngModel">
        <div [hidden]="org.valid || org.pristine"
            class="alert alert-danger">
            Invalid Input
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="model.email" 
            name="email"
            [email]="true" 
            type="email" 
            class="form-control" 
            id="email" required #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">
            Invalid Input
        </div>
    </div>
    <div class="form-group">
        <label for="pw">Password:</label>
        <input [(ngModel)]="model.pw"
            name="pw"
            type="password" 
            class="form-control" 
            id="pw" required #pw="ngModel">
        <div [hidden]="pw.valid || pw.pristine"
            class="alert alert-danger">
            Invalid Input
        </div>
    </div>
    <div class="form-group">
        <label for="pwV">password verify:</label>
        <input [(ngModel)]="model.pwv"
            name="pwv"
            type="password" 
            class="form-control" 
            id="pwv" required #pwv="ngModel">
        <div [hidden]="model.pwv === model.pw || pwv.pristine"
            class="alert alert-danger">
            Must match password.
        </div>
    </div>
    <app-gradient-button (click)="onSubmit()">Submit</app-gradient-button>
  </form>
</div>
